<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Loja</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <%for(var int = 0; int < lista.length;int++){%>
                    <tr>
                        <td><%=lista[int].id%></td>
                        <td><%=lista[int].name%></td>
                        <td><%=lista[int].price%></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </body>
</html>